<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Para fazer um cadastro de usuario:</p>
<a href="http://localhost:8000/usuarios/add_usuario/" target="_blank">Clique aqui!</a>
<p>Para listar os usuários:</p>
<a href="http://localhost:8000/usuarios/listar/" target="_blank">Clique aqui!</a>
<p>Para criar uma lista:</p>
<a href="http://localhost:8000/listas/add_lista/" target="_blank">Clique aqui!</a>
<p>Para listar as listas do banco:</p>
<a href="http://localhost:8000/listas/listar_listas/" target="_blank">Clique aqui!</a>

</body>
</html>