{% extends 'listadedesejos/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div id="Carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
      <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'images/header.jpg'%}" alt="logo" class="center">
        <div class="carousel-caption">
          <h3>Seu site para listas importantes!</h3>
          <p>Clique aqui e cadastre-se!</p>
        </div>
      </div>

      <div class="item">
        <img class="center" src="{% static 'images/collage-pessoas.jpg'%}" alt="imagem pessoas">
        <div class="carousel-caption" style="color:#F5CB39">
            <h2><b>Compartilhe as listas com seus amigos!</b></h2>
        </div>
      </div>

      <div class="item">
        <img class="center" src="{% static 'images/colagem-objetos.png'%}" alt="imagem desejos">
        <div class="carousel-caption" style="color:black">
            <h3><b>Descubra os itens mais desejados!</b></h3>
          <p>Clique aqui e adicione-os em suas listas!</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#Carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
        <article class="col-1_4" style="background-color: #FF824C">
            <img src="static/images/icon1.png">
            <h3>Faça sua lista de aniversário</h3>
            <p>E compartilhe com seus amigos e familiares, para que ninguém erre no seu presente!</p>
        </article>
 <div class="mid-section">
        <article class="col-1_4" style="background-color: #28B873">
            <img src="static/images/icon2.png">
            <h3>Descubra quais itens são mais desejados!</h3>
            <p>E aproveite para colocar em sua lista também, ou usar de sugestão para dar de presente a outras pessoas!</p>
        </article>
        <article class="col-1_4" style="background-color: #F5CB39">
            <img src="static/images/icon3.png">
            <h3>Tenha sua lista privativa</h3>
            <p>Faça também sua lista privativa, onde poderá guardar desejos de qualquer site de compras!</p>
        </article>
  </div>

{% endblock %}