{% extends  'listadedesejos/base.html' %}

{%block  title%} Login {%endblock%}

{%block cabecalho %} Página de login {%endblock%}
{%block content%}

<body>
    <div class="container">

      <form action="" method="POST" class="login-form">
          {% csrf_token %}
        <p>Digite seu nome de usuário e senha &#128522;</p>
        <div class="txspace">
          <input type="text" name="login">
          <span data-placeholder="Usuário"></span>
        </div>

        <div class="txspace">
          <input type="password" name="password">
          <span data-placeholder="Senha"></span>
        </div>

        <input type="submit" class="logbtn" value="Login">

        <div class="bottom-text">
          Esqueceu sua <a href="#">senha?</a>
        </div>
        <div class="bottom-text">
          Não tem uma conta? <a href="/usuarios/add_usuario/">Cadastre-se</a>
        </div>
      </form>
    </div>
      <script type="text/javascript">
      $(".txspace input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txspace input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });
      $(".logbtn").on("mouseover",function(){
        $(this).css({opacity:'1'});
      });
      $(".logbtn").on("mouseout",function(){
        $(this).css({opacity:'0.5'});
      });

      </script>
</body>
{%endblock%}