body{
background-color: #b556b2;

}

.navbar{
  background-color: #b556b2;
  padding-left: 5rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.container-fluid{
  padding: 2% 0%
}

/* Navigation Bar */

#navbar-logo{
  height: 80px;
}

.navbar{
  padding-bottom: 0.5rem;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 2.2rem;
}

.nav-item{
  padding: 0 0.3rem;
  font-family: 'Fira Sans', sans-serif;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: bold;
}

/* Heading */

.first-section{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  background-color: #3750BE
}

/* Carousel Section */
.carousel-item{
  height: 600px;
}

/* Features Section */
#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 4%
}

/* Symbols Section */
.icon{
  color: #ff824c;
  padding-bottom: 4%
}

.icon:hover{
  color: white;
}

/* Footer Section */

.white-section {
  background-color: #fff;
  text-align: center;
  padding: 3%
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  #footer{
    text-align: center;
  }

}
