body{
  margin:0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1aa6b7;
  overflow: hidden;
  font-family: "Freestyle Script";
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-family: "Freestyle Script";
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: "Freestyle Script";
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
  font-family: "Freestyle Script";
}

.mid-section{
  background-color: white;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: medium;
  position: fixed;
  top: 70px;
  font-size: 22px;
  font-family: "Freestyle Script";
}

.bottom-section{
  height: 180px;
  width: 100%;
  background-color: #1aa6b7;
  position: absolute;
  top: 800px;
}

#criesuaconta {
  background-color: #1aa6b7;
  color: white;
  font-size: 20px;
  font-family: "Freestyle Script";
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.boxcriarconta{
  margin-top: 70px;
  margin-left: 50px;
  padding-left: 40px;
  padding-top: 50px;
  height: 500px;
  width: 50%;
  font-size: 20px;
  font-family: "Freestyle Script";
}

.logo{
  height: 350px;
  width: 350px;
}

.heading{
  margin-left: 20px;
  margin-top: 30px;
   font-family: "Freestyle Script";
}

p, label{
  margin-left: 20px;
  margin-top: 30px;
  font-size: 27px;
  font-family: "Freestyle Script";
}

h1{font-family: "Freestyle Script";font-size: 37px;}

h3{font-family: "Freestyle Script";font-size: 27px;}

h4{font-family: "Freestyle Script";font-size: 22px;}

ul{font-family: "Freestyle Script";font-size: 22px;}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  /*width: 100%;*/
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
   font-family: "Freestyle Script";
}

button:hover {
  opacity:1;
   font-family: "Freestyle Script";
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
   font-family: "Freestyle Script";
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn, {
  float: left;
  width: 50%;
   font-family: "Freestyle Script";
}

/* Add padding to container elements */
.container {
  padding: 15px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
