{% extends 'listadedesejos/base.html' %}
{% block content %}

        <form id="id_editar" method="post" action="">
          {% csrf_token %}
            <input type="hidden" name="id" value="{{lista.id}}" />
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{lista.nome}}"><br>
            <label for="item1">Link:</label>
            <input type="text" id="item1" name="item1" value="{{lista.item1}}"><br>
            <label for="item2">Link:</label>
            <input type="text" id="item2" name="item2" value="{{lista.item2}}"><br>
            <label for="item3">Link:</label>
            <input type="text" id="item3" name="item3" value="{{lista.item3}}"><br>
            <label for="item4">Link:</label>
            <input type="text" id="item4" name="item4" value="{{lista.item4}}"><br>
            <label for="item5">Link:</label>
            <input type="text" id="item5" name="item5" value="{{lista.item5}}"><br>
          <input type="submit" name="acao" value="Atualizar">
        </form>
      </div>
    </tr>
  </table>
  <input type="button" value="voltar para listas" onclick="javascript:window.location.href='http://localhost:8000/listas/listar_listas/'"/>
</div>

{% endblock %}