{% extends  'listadedesejos/base.html' %}

{%block  title%} Cadastrar Usuários {%endblock%}

{%block cabecalho %} Cadastro de usuários {%endblock%}
{%block content%}
    <form style="text-align:center;" class="formulario" action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
        <p><b>Preencha aqui o seu cadastro!</b></p>
        <label for="nome"><b>Nome:</b></label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required><br>
        <label for="sobrenome"><b>Sobrenome:</b></label>
            <input type="text" id="sobrenome" name="sobrenome" placeholder="Digite seu Sobrenome"><br>
        <label for="email"><b>Seu E-Mail:</b></label>
            <input type="text" id="email" name="email" placeholder="Digite seu E-Mail*" required><br>
        <label for="data_aniversario"><b>Data de nascimento:</b></label>
            <input type="date" id="data_aniversario" name="data_aniversario"><br>
        <label for="login"><b>Login:</b></label>
            <input type="text" id="login" name="login" placeholder="Digite um login" required><br>
        <label for="senha"><b>Digite sua senha:</b></label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required><br>
        <label for="picture"><b>Escolha sua foto de perfil:</b></label>
            <input type="file" style="margin:auto" name="foto" id="picture">
        <br>
        <input type="submit" name="acao" value="Enviar">
    </form>
{%endblock%}