<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    {% load static %}
  </head>
  <body>
    <h1>Lista de Clientes</h1>

    <div class="container">
      <table class="border_collapse">
        <tr>
          <th>Nome</th>
          <th>Cpf</th>
          <th>E-mail</th>
        </tr>

        {% for usuario in usuarios %}
        <tr>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.sobrenome}}</td>
          <td>{{usuario.email}}</td>
          <td>
            <a
              id="link1"
              href wm-nav="http://{{request.get_host}}/usuarios/deletar_usuario/{{usuario.id}}"
              >Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <p>
      <a href="http://localhost:8000/usuarios/cadastro"
        ><button id="botao">Novo</button></a
      >
      <a href="http://localhost:8000/usuarios/listar"
        ><button id="botao">Limpar</button></a
      >
    </p>
    <hr color="black" />
    <section id="conteudo"></section>
    <hr color="black" />
    <script>
      document.querySelectorAll('[wm-nav]').forEach((link) => {
        const conteudo = document.getElementById('conteudo');
        link.onclick = function (e) {
          e.preventDefault();
          fetch(link.getAttribute('wm-nav'))
            .then((resp) => resp.text())
            .then((html) => (conteudo.innerHTML = html));
        };
      });
    </script>
  </body>
</html>
